# Functions

In this class we will cover everything related to creating functions in the Python environment.

## Basic structure of a function
The creation of a function demands its definition through the **def** function. This allows you to name the function and assign arguments to it.

In [1]:
def my_function(x):
    
    # codigo codigo
    
    return result

### Local variables VS Global variables
The arguments of a function take the role of internal variables. These will take values when the function is executed; however, these do not exist, they just pretend to be variables that have methods, functions and attributes as well as the future values that will be given. \
A for loop if you create variables unlike functions. These variables exist in the python environment, but the variables that are used to define the functions do not exist. They will take values when the function is executed.

In [1]:
def calculator( z , y  ):
    result = z * y
    
    return result

In [2]:
A = 10
def calculator( A , y  ):
    result = A * y
    
    return result

In [3]:
calculator(A = 1, y = 2)

2

In [4]:
for x in range(0, 5):
    print(x)

0
1
2
3
4

# Args
List as an argument

In [31]:
def calculator( *args ):
    result = 1 
    for a in args:
        result = result * a
    
    return result

In [33]:
calculator(8, 4, 5 )

160

## Kwargs
Dictionary as an argument

In [41]:
def calculator( *args, **kwargs):
    
    result = 1 
    for a in args:
        result = result * a
    
    result = result * kwargs['times'] - kwargs['resta']
    
    
    return result

In [42]:
calculator(4, 5, 6, 7, 8, times = 10 , resta = 3)

67197

## Calling a Dictionary

In [6]:
import pickle
import pandas as pd

In [44]:
dictionary_places = open( r"..\data\places_result", "rb")
places_result = pickle.load( dictionary_places )

In [64]:
places_result.keys()

dict_keys(['html_attributions', 'next_page_token', 'results', 'status'])

In [76]:
places_result['results'][0]['geometry']['location']

{'lat': 9.065977, 'lng': 7.4549606}

In [70]:
# Listas
latitudes = []
longitudes = []
instituciones = []

In [71]:

# loop para guardar cada uno de los elementos
for fila in tqdm( range( 0 , len( resultados ) ) ):
    
    # latitude
    lat = resultados[ fila ]['geometry']['location']['lat']
    
    # Longitude
    lng = resultados[ fila ]['geometry']['location']['lng']
    
    # nombre de la institucion
    institucion = resultados[ fila ]['name']
    
    # Save results
    latitudes.append( lat )
    longitudes.append( lng )
    instituciones.append( institucion )

100%|██████████████████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<?, ?it/s]

In [79]:
resultado = pd.DataFrame({ 'Instituciones': instituciones, 'Latitud' : latitudes, 'Longitud' : longitudes })

In [11]:

datas = pd.DataFrame( columns = ['Institucion','latitude','Longitud'] )

resultados = places_result['results']

for fila in range( 0 , len( resultados ) ):
    
    datas.loc[fila] = [resultados[ fila ]['name'], \
                       resultados[ fila ]['geometry']['location']['lat'], \
                       resultados[ fila ]['geometry']['location']['lng']]

datas

# Lista
resultados = places_result['results']

# Como acceder a cada a la informacion que queremos
# resultados[ 0 ]['name']
# resultados[ 0 ]['geometry']['location']['lat']
# resultados[ 0 ]['geometry']['location']['lng']

# Listas
latitudes = []
longitudes = []
instituciones = []


# loop para guardar cada uno de los elementos
for fila in range( 0 , len( resultados ) ):
    # latitude
    lat = resultados[ fila ]['geometry']['location']['lat']
    
    # Longitude
    lng = resultados[ fila ]['geometry']['location']['lng']
    
    # nombre de la institucion
    institucion = resultados[ fila ]['name']
    
    # Save results
    latitudes.append( lat )
    longitudes.append( lng )
    instituciones.append( institucion )


# # Diccionario
# NIMC = { 'Instituciones': instituciones, 'Latitud' : latitudes, 'Longitud' : longitudes }
# # Dataframe
# NIMC_DF = pd.DataFrame( NIMC )

In [60]:
def dict_tabla( dicti , respuesta = 'dataframe'):
    
    # key results
    resultados = dicti['results']
    
    # Lists
    latitudes = []
    longitudes = []
    inst = []
    
    for fila in range( 0 , len( resultados ) ):
        # latitude
        lat = resultados[ fila ]['geometry']['location']['lat']

        # Longitude
        lng = resultados[ fila ]['geometry']['location']['lng']

        # nombre de la institucion
        institucion = resultados[ fila ]['name']

        # Save results
        latitudes.append( lat )
        longitudes.append( lng )
        inst.append( institucion )
    
    # Dictionario
    results_dict = { 'Instituciones': instituciones, 'Latitud' : latitudes, 'Longitud' : longitudes }
    # result in pandas
    results_pd = pd.DataFrame( results_dict )
    # results in lists
    results_list = [ latitudes , longitudes , inst ]
    
    if respuesta == 'dataframe':
        return results_pd
    elif respuesta == 'dictionary':
        return results_dict
    elif respuesta == 'lists':
        return results_list
    else:
        raise Exception( 'The argument respuesta is wrong.' )

In [ ]:
dict_tabla( places_result , respuesta = "lists")

In [16]:
def dict_tabla( diccionario, retorno = 'resultado_diccionario'):
    
    # Lista
    resultados = diccionario['results']
    
    # Listas
    latitudes = []
    longitudes = []
    instituciones = []
    
    for fila in range( 0 , len( resultados ) ):
        # latitude
        lat = resultados[ fila ]['geometry']['location']['lat']

        # Longitude
        lng = resultados[ fila ]['geometry']['location']['lng']

        # nombre de la institucion
        institucion = resultados[ fila ]['name']

        # Save results
        latitudes.append( lat )
        longitudes.append( lng )
        instituciones.append( institucion )
        
    # Diccionario
    NIMC = { 'Instituciones': instituciones, 'Latitud' : latitudes, 'Longitud' : longitudes }
    # Dataframe
    NIMC_DF = pd.DataFrame( NIMC )
    
    
    
    
    if retorno == 'resultado_dataframe':
        return NIMC_DF
    elif retorno == 'resultado_listas':
        return [instituciones, latitudes, longitudes]
    elif retorno == 'resultado_diccionario':
        return NIMC
    else:
        return 'No hay nada'

In [18]:
dict_tabla( places_result , retorno = 'resultado_dataframe' )

                                        Instituciones    Latitud  Longitud
0             National Identity Management Commission   9.065977  7.454961
1      National Identity Management Commission (Nimc)   8.450151  4.542503
2        National Identity Management Commission NIMC   8.505730  8.531775
3             National Identity Management Commission   9.058854  7.468078
4      National Identity Management Commission (Nimc)   9.895973  8.931434
5             National Identity Management Commission   9.892295  8.917566
6             National Identity Management Commission   9.857233  7.967972
7      National Identity Management Commission (Nimc)   7.711656  8.526523
8             National Identity Management Commission  11.989994  8.489165
9      National Identity Management Commission (Nimc)  10.310332  9.826602
10     National Identity Management Commission (Nimc)  10.592473  7.449456
11                National Identity Management Center   5.471781  7.008344
12  National Identity Management Commision (NIMC) ...   6.617086  3.357951
13            National Identity Management Commission   6.460106  7.579009
14     National Identity Management Commission (Nimc)   9.076770  7.493777
15    National Identity Management Commission Umuahia   5.502502  7.517956
16            National Identity Management Commission   4.822006  7.007972
17     National Identity Management Commission (Nimc)  11.988203  8.496804
18  National Identity Management Commission, North...  10.543617  7.460988
19       National Identity Management Commission Nimc   4.849608  7.052736