# Pass, Continue, Break, Try

1. `Pass`: Allows you to handle the condition without the loop being impacted in any way
2. `Continue`: The current iteration of the loop will be disrupted, but the program will return to the top of the loop
3. `Break`: The while–loop will exit
4. `Try`: This command lets you test a block of code for errors.

## Continue

In [16]:
number = 0

for number in range(10):
    if number == 5:
        continue    # continue here

    print('Number is ' + str(number))

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 6
Number is 7
Number is 8
Number is 9
Out of loop

## Break

In [17]:
number = 0

for number in range(10):
    if number == 5:
        break    # break here

    print('Number is ' + str(number))

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Out of loop

## Pass

In [26]:
number = 0

for number in range(10):
    if number == 5:
        # comment
        pass

    elif number == 3:
        print('Hola3')

    else:
        print('Hola else')

    print('Number is ' + str(number))

print('Out of loop')

Hola else
Number is 0
Hola else
Number is 1
Hola else
Number is 2
Hola3
Number is 3
Hola else
Number is 4
Number is 5
Hola else
Number is 6
Hola else
Number is 7
Hola else
Number is 8
Hola else
Number is 9
Out of loop

## Try

`except`: Run a code if an error occurs.

In [43]:
x = 'jola'

In [44]:
try:
    print(x + 4)
except NameError:
    print("Variable x is not defined")
except:
    print("Something else went wrong")

Something else went wrong

`else`: The code will be executed does no matter whether or not the try raises an exception.

In [46]:
x = 3

In [47]:
try:
    print(x + 4)
except:
    print("Something went wrong")
else:
    print("Nothing went wrong")

7
Nothing went wrong

`finally`: The code will be executed does no matter whether or not the try raises an exception.

In [48]:
x = "jola"

In [52]:
try:
    print(x + 4)
except:
    print("Something went wrong")
finally:
    print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

# Loops
We will study the 2 types of loops in python. A loop is a function that allows you to iteratively perform tasks a certain number of times (for loop) or as long as a condition is true (while loop).

## While Loop
While loop is used to repeat code as long as the condition is true. When the logical expression is false, the code will finish executing. [More Info](https://python101.pythonlibrary.org/chapter5_loops.html)
<img src="../images\while_loop.jpg">

See the structure: <br>

while <font color='green'>condition</font>: <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;code 1<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color='red'>break code</font><br><br>

The break code is an expression that allows the logical condition to be false at some point, because if not, the code will continue to execute infinitely.

In [1]:
i = 1

# condition  "i < 6"
while i < 6:
    
    print(i)
    
    # break code, 
    i += 1 
    # ==> i = i + 1

1
2
3
4
5

### Training
1. Print $2^n$, but the result is less than 10,000.

In [3]:
x = 2
while x < 10000:
    print(x)
    
    #break code
    x = 2*x

2
4
8
16
32
64
128
256
512
1024
2048
4096
8192

2. A teacher has 100 apples for his entire class. The first student took four apples, and the next student always took more apples than the previous one. How many children have apples?

In [9]:
apples = 100
first = 4
i = 1
while apples > first:
    
    # Code
    apples = apples - first
    first += 1

    # Break code
    i += 1
    # What is the format function for
    print ('{} children have apples'.format (i))

print ('{} children have apples'.format (i))

2 children have apples
3 children have apples
4 children have apples
5 children have apples
6 children have apples
7 children have apples
8 children have apples
9 children have apples
10 children have apples
11 children have apples
12 children have apples
12 children have apples

3. Print all elements of an array.

In [10]:
import numpy as np

edad = np.array([ 3, 6, 7, 10, 15, 17, 18, 31, 26, 88 , 100, 120, 110])
i = 0

while i < edad.size:
    
    print(edad[i])
    i += 1

3
6
7
10
15
17
18
31
26
88
100
120
110

## Excersice

In [15]:
quarantine_days = 1
stress_level = 2


while quarantine_days <= 40:
    
    print (f'Quarantine day n° {quarantine_days}. ')
    if stress_level> 100:
        print (f'They let the lady out on the day {quarantine_days}. \n ')
        stress_level = 1
        quarantine_days = quarantine_days + 1
        continue
        
    
    # This is what you will do each day
    if quarantine_days <15:
        
        print ("Maria looks at the peaky blinders and Love alarm")
    
    elif (quarantine_days >= 15) & (quarantine_days <20):
        
        print ("Maria reads THE WORLD OF SOFIA and Chronicle of a death foretold")
    
    elif (quarantine_days >= 20) & (quarantine_days <40):
        print ('Maria builds her Foundation of Analysis I class')
        
    else:
        print ("The lady works out")
    
    print (f'The day number {quarantine_days} of quarantine is over. \n ')
    
    # Days increase
    quarantine_days = quarantine_days + 1
    stress_level = stress_level * 2

print ("Quarantine is over.")

Quarantine day n° 1.
Maria looks at the peaky blinders and Love alarm
The day number 1 of quarantine is over.

Quarantine day n° 2.
Maria looks at the peaky blinders and Love alarm
The day number 2 of quarantine is over.

Quarantine day n° 3.
Maria looks at the peaky blinders and Love alarm
The day number 3 of quarantine is over.

Quarantine day n° 4.
Maria looks at the peaky blinders and Love alarm
The day number 4 of quarantine is over.

Quarantine day n° 5.
Maria looks at the peaky blinders and Love alarm
The day number 5 of quarantine is over.

Quarantine day n° 6.
Maria looks at the peaky blinders and Love alarm
The day number 6 of quarantine is over.

Quarantine day n° 7.
They let the lady out on the day 7.

Quarantine day n° 8.
Maria looks at the peaky blinders and Love alarm
The day number 8 of quarantine is over.

Quarantine day n° 9.
Maria looks at the peaky blinders and Love alarm
The day number 9 of quarantine is over.

Quarantine day n° 10.
Maria looks at the peaky blinders and Love alarm
The day number 10 of quarantine is over.

Quarantine day n° 11.
Maria looks at the peaky blinders and Love alarm
The day number 11 of quarantine is over.

Quarantine day n° 12.
Maria looks at the peaky blinders and Love alarm
The day number 12 of quarantine is over.

Quarantine day n° 13.
Maria looks at the peaky blinders and Love alarm
The day number 13 of quarantine is over.

Quarantine day n° 14.
Maria looks at the peaky blinders and Love alarm
The day number 14 of quarantine is over.

Quarantine day n° 15.
They let the lady out on the day 15.

Quarantine day n° 16.
Maria reads THE WORLD OF SOFIA and Chronicle of a death foretold
The day number 16 of quarantine is over.

Quarantine day n° 17.
Maria reads THE WORLD OF SOFIA and Chronicle of a death foretold
The day number 17 of quarantine is over.

Quarantine day n° 18.
Maria reads THE WORLD OF SOFIA and Chronicle of a death foretold
The day number 18 of quarantine is over.

Quarantine day n° 19.
Maria reads THE WORLD OF SOFIA and Chronicle of a death foretold
The day number 19 of quarantine is over.

Quarantine day n° 20.
Maria builds her Foundation of Analysis I class
The day number 20 of quarantine is over.

Quarantine day n° 21.
Maria builds her Foundation of Analysis I class
The day number 21 of quarantine is over.

Quarantine day n° 22.
Maria builds her Foundation of Analysis I class
The day number 22 of quarantine is over.

Quarantine day n° 23.
They let the lady out on the day 23.

Quarantine day n° 24.
Maria builds her Foundation of Analysis I class
The day number 24 of quarantine is over.

Quarantine day n° 25.
Maria builds her Foundation of Analysis I class
The day number 25 of quarantine is over.

Quarantine day n° 26.
Maria builds her Foundation of Analysis I class
The day number 26 of quarantine is over.

Quarantine day n° 27.
Maria builds her Foundation of Analysis I class
The day number 27 of quarantine is over.

Quarantine day n° 28.
Maria builds her Foundation of Analysis I class
The day number 28 of quarantine is over.

Quarantine day n° 29.
Maria builds her Foundation of Analysis I class
The day number 29 of quarantine is over.

Quarantine day n° 30.
Maria builds her Foundation of Analysis I class
The day number 30 of quarantine is over.

Quarantine day n° 31.
They let the lady out on the day 31.

Quarantine day n° 32.
Maria builds her Foundation of Analysis I class
The day number 32 of quarantine is over.

Quarantine day n° 33.
Maria builds her Foundation of Analysis I class
The day number 33 of quarantine is over.

Quarantine day n° 34.
Maria builds her Foundation of Analysis I class
The day number 34 of quarantine is over.

Quarantine day n° 35.
Maria builds her Foundation of Analysis I class
The day number 35 of quarantine is over.

Quarantine day n° 36.
Maria builds her Foundation of Analysis I class
The day number 36 of quarantine is over.

Quarantine day n° 37.
Maria builds her Foundation of Analysis I class
The day number 37 of quarantine is over.

Quarantine day n° 38.
Maria builds her Foundation of Analysis I class
The day number 38 of quarantine is over.

Quarantine day n° 39.
They let the lady out on the day 39.

Quarantine day n° 40.
The lady works out
The day number 40 of quarantine is over.

Quarantine is over.

In [28]:
import pandas as pd
data1 = {'names': ['Marcelo', 'Octavio', 'Fredy', 'Felipe', 'Arturo', 'Anzony', 'Finado', 'Alex', 'Anny', 'Yampi'], 
     'age': [23, 25, 36, 78, 90, 32, 200, 24, 12, 18]}
people = pd.DataFrame( data = data1)

In [ ]:
i = 0
# Vamos a ir fila por fila
nrows = people.age.count()
while i < nrows:
  
    if people['age'][i] > 150:
        print('Ohhh no a phantom')
        continue
    
    elif people['age'][i] < 18:
        # Hemos creado una nueva columna y la estamos rellenando
        people.loc[[i], ["pass"]] = "No pass"
    
    else:
        people.loc[[i], ["pass"]] = "Pass"
        
    i += 1

In [34]:
people

     names  age     pass
0  Marcelo   23     Pass
1  Octavio   25     Pass
2    Fredy   36     Pass
3   Felipe   78     Pass
4   Arturo   90     Pass
5   Anzony   32     Pass
6   Finado  200      NaN
7     Alex   24     Pass
8     Anny   12  No pass
9    Yampi   18     Pass