In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [55]:
base_libertad = pd.read_excel("/Users/juandiegorivassu/GitHub/The_Code_Blinders_2021_II/Classes/DATA_TASK4/Region_La_Libertad.xlsx")
base_libertad

,Unnamed: 0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,LA LIBERTAD,TRUJILLO,P.TRUJILLO,162,136,298,823,809,1632,...,845,1743,985,945,0,0,503,66,1294,67
1,1,LA LIBERTAD,TRUJILLO,C.LAREDO,17,14,31,83,68,151,...,80,178,100,82,0,0,31,61,88,2
2,2,LA LIBERTAD,TRUJILLO,LAS HACIENDAS,6,10,16,44,40,84,...,50,100,50,50,0,0,5,22,61,12
3,3,LA LIBERTAD,TRUJILLO,MAMICHE,3,11,14,27,22,49,...,33,63,30,33,0,0,0,56,7,0
4,4,LA LIBERTAD,ASCOPE,P.ASCOPE,75,68,143,331,321,652,...,336,696,406,389,0,0,217,55,517,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,194,LA LIBERTAD,CACHICADAN,HOSPITAL,0,0,0,13,8,21,...,8,21,13,8,0,0,0,0,21,0
195,195,LA LIBERTAD,CACHICADAN,C.CHUCA,0,0,0,113,100,213,...,100,213,113,100,0,0,15,8,190,0
196,196,LA LIBERTAD,MOLLEPATA,P.MOLLETAPA,17,4,21,204,56,260,...,60,281,221,60,0,0,0,0,281,0
197,197,LA LIBERTAD,MOLLEPATA,C.MOLLEBAMBA,8,2,10,67,28,95,...,30,105,75,30,0,0,8,88,9,0
198,198,LA LIBERTAD,SITABAMBA,P.SITABAMBA,29,27,56,135,83,218,...,110,274,164,110,0,0,0,0,274,0

## 1. Eliminar las columnas que crean necesaria

In [14]:
la_libertad=base_libertad.drop(columns='Unnamed: 0' )
la_libertad.head()

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,LA LIBERTAD,TRUJILLO,P.TRUJILLO,162,136,298,823,809,1632,580,...,845,1743,985,945,0,0,503,66,1294,67
1,LA LIBERTAD,TRUJILLO,C.LAREDO,17,14,31,83,68,151,53,...,80,178,100,82,0,0,31,61,88,2
2,LA LIBERTAD,TRUJILLO,LAS HACIENDAS,6,10,16,44,40,84,5,...,50,100,50,50,0,0,5,22,61,12
3,LA LIBERTAD,TRUJILLO,MAMICHE,3,11,14,27,22,49,22,...,33,63,30,33,0,0,0,56,7,0
4,LA LIBERTAD,ASCOPE,P.ASCOPE,75,68,143,331,321,652,176,...,336,696,406,389,0,0,217,55,517,6

## 2. Encontrar el tipo de datos

In [15]:
la_libertad.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men                int64
4_6_years_women              int64
4_6_years_total              int64
6_14_years_men               int64
6_14_years_women             int64
6_14_years_total             int64
man_read                     int64
women_read                   int64
total_read                   int64
men_not_read                 int64
women_not_read               int64
total_not_read               int64
man_write                    int64
women_write                  int64
total_write                  int64
men_not_write                int64
women_not_write              int64
total_not_write              int64
instruction_men              int64
instruction_women            int64
instruction_total            int64
no_instruction_men           int64
no_instruction_women         int64
no_instruction_total         int64
finished_instr_men           int64
finished_instr_women         int64
finished_instr_total         int64
not_finished_instr_men       int64
not_finished_instr_women     int64
not_finished_instr_total     int64
peruvian_men                 int64
peruvian_women               int64
foreign_men                  int64
foreign_women                int64
whites                       int64
natives                      int64
mestizos                     int64
blacks                       int64
dtype: object

## 3. Encontrar la cantidad de habitantes

In [60]:
lalibertad = la_libertad.filter(items = ['4_6_years_total','6_14_years_total'])
# lalibertad.groupby(['Region']).agg({'4_6_years_men':['sum'],'4_6_years_women':['sum'] }).sum(axis=1)
lalibe=lalibertad.sum(axis=0).sum(axis=0)
lalibe

25610

## 4. Filtrar la cantidad de habitantes de 4 a 6 años en el distrito de trujillo

In [61]:
trujillo=la_libertad.loc[la_libertad['District']== "TRUJILLO"]
trujillo

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,LA LIBERTAD,TRUJILLO,P.TRUJILLO,162,136,298,823,809,1632,580,...,845,1743,985,945,0,0,503,66,1294,67
1,LA LIBERTAD,TRUJILLO,C.LAREDO,17,14,31,83,68,151,53,...,80,178,100,82,0,0,31,61,88,2
2,LA LIBERTAD,TRUJILLO,LAS HACIENDAS,6,10,16,44,40,84,5,...,50,100,50,50,0,0,5,22,61,12
3,LA LIBERTAD,TRUJILLO,MAMICHE,3,11,14,27,22,49,22,...,33,63,30,33,0,0,0,56,7,0

## 5. Localizar la region de mayor cantidad de habitantes tanto para personas de 4 a 6 años como de 6 a 14 años

In [113]:
lalibe_4_6= la_libertad.filter(items = ['District','4_6_years_total'])
lalibe_6_14= la_libertad.filter(items = ['District','6_14_years_total'])
lalibe_4_6_aggr=lalibe_4_6.groupby(['District']).agg({'4_6_years_total':['sum']}).reset_index()
lalibe_4_6_aggr.columns=['District','4_6_years_total']
lalibe_4_6_aggr=lalibe_4_6_aggr.sort_values('4_6_years_total', ascending=False)
lalibe_4_6_aggr

             District  4_6_years_total
27             OTUZCO              419
46           TRUJILLO              359
38  SANTIAGO DE CHUCO              338
45          TAYABAMBA              295
14        HUANCASPATA              197
36  SAN PEDRO DE YOC.              187
40              SARIN              186
11          GUADALUPE              168
13         HUAMACHUCO              164
29             PAIJÁN              159
48             USQUIL              158
0              ASCOPE              143
8              CHILIA              128
22              LUCMA              106
6              CHEPÉN               97
34              SALPO               88
5              CHARAL               82
31              PATAZ               74
30             PARCOY               65
33          SALAVERRY               62
24           MARCABAL               61
4       CAJAMARQUILLA               60
43          SITABAMBA               56
9             CHOCOPE               56
3          CACHICADAN               51
7             CHICAMA               50
2           BULDIBUYO               49
41             SIMBAL               44
15          HUANCHACO               41
1          BAMBAMARCA               41
12             HONGON               40
39         SARIMBAMBA               38
17         HUAYLILLAS               37
42           SINDICAP               35
35           SAN JOSÉ               34
25              MOCHE               34
26          MOLLEPATA               31
23  MAGDALENA DEL CAO               30
28          PACASMAYO               25
10             COMPIN               23
18              HUAYO               22
19       JEQUETEPEQUE               21
47          UCHUMARCA               18
44            SOLEDAD               17
20          LA CUESTA               16
49               VIRÚ               15
37    SANTIAGO DE CAO               14
21          LANAGORAN                8
32       PUEBLO NUEVO                6
16         HUARANCHAL                6

In [116]:
lalibe_6_14_aggr=lalibe_6_14.groupby(['District']).agg({'6_14_years_total':['sum']}).reset_index()
lalibe_6_14_aggr.columns=['District','6_14_years_total']
lalibe_6_14_aggr=lalibe_6_14_aggr.sort_values('6_14_years_total', ascending=False)
lalibe_6_14_aggr

             District  6_14_years_total
46           TRUJILLO              1916
27             OTUZCO              1645
38  SANTIAGO DE CHUCO              1213
45          TAYABAMBA              1166
48             USQUIL              1037
36  SAN PEDRO DE YOC.               849
14        HUANCASPATA               820
11          GUADALUPE               762
22              LUCMA               686
40              SARIN               653
0              ASCOPE               652
29             PAIJÁN               589
8              CHILIA               584
13         HUAMACHUCO               573
3          CACHICADAN               565
6              CHEPÉN               535
34              SALPO               401
26          MOLLEPATA               355
28          PACASMAYO               335
7             CHICAMA               325
5              CHARAL               320
9             CHOCOPE               313
2           BULDIBUYO               297
25              MOCHE               288
33          SALAVERRY               273
42           SINDICAP               238
24           MARCABAL               231
41             SIMBAL               223
43          SITABAMBA               218
35           SAN JOSÉ               208
30             PARCOY               206
39         SARIMBAMBA               199
4       CAJAMARQUILLA               198
37    SANTIAGO DE CAO               183
10             COMPIN               181
31              PATAZ               178
12             HONGON               173
1          BAMBAMARCA               170
18              HUAYO               157
16         HUARANCHAL               154
23  MAGDALENA DEL CAO               153
49               VIRÚ               148
17         HUAYLILLAS               147
19       JEQUETEPEQUE               145
15          HUANCHACO               124
20          LA CUESTA               101
32       PUEBLO NUEVO                85
21          LANAGORAN                71
47          UCHUMARCA                59
44            SOLEDAD                54