# TASK 3: Team 3 - Juan Diego Rivas

### N1

In [1]:
import numpy as np

In [2]:
A = np.array([[6,0,0,0],[6,6,0,0], [6,6,6,0],[6,6,6,6]])
A

array([[6, 0, 0, 0],
       [6, 6, 0, 0],
       [6, 6, 6, 0],
       [6, 6, 6, 6]])

In [3]:
seis=np.full((4,4),6)
seis[0,1:]=0
seis[1,2:]=0
seis[2,3:]=0
seis

array([[6, 0, 0, 0],
       [6, 6, 0, 0],
       [6, 6, 6, 0],
       [6, 6, 6, 6]])

### N2

Crear un array de 4x4 con valores pares

In [4]:
par= np.arange(1,17)
par = par * 2
par=par.reshape((4,4))
par

array([[ 2,  4,  6,  8],
       [10, 12, 14, 16],
       [18, 20, 22, 24],
       [26, 28, 30, 32]])

### N3

Crear un array de 4x3 con valores impares

In [5]:
impar = np.arange(1,13)
impar = impar * 2 - 1
impar = impar.reshape((4,3))
impar

array([[ 1,  3,  5],
       [ 7,  9, 11],
       [13, 15, 17],
       [19, 21, 23]])

### N4

Crear un array que contenga 32 elementos y luego darle 4 posibles formas que puede tomar el array creado inicialmente

In [6]:
n4=np.full(32,17)
n41=n4.reshape((2,16))
n42=n4.reshape((4,8))
n43=n4.reshape((8,4))
n44=n4.reshape((16,2))
n41

array([[17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17],
       [17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17]])

In [7]:
n42

array([[17, 17, 17, 17, 17, 17, 17, 17],
       [17, 17, 17, 17, 17, 17, 17, 17],
       [17, 17, 17, 17, 17, 17, 17, 17],
       [17, 17, 17, 17, 17, 17, 17, 17]])

In [8]:
n43

array([[17, 17, 17, 17],
       [17, 17, 17, 17],
       [17, 17, 17, 17],
       [17, 17, 17, 17],
       [17, 17, 17, 17],
       [17, 17, 17, 17],
       [17, 17, 17, 17],
       [17, 17, 17, 17]])

In [9]:
n44

array([[17, 17],
       [17, 17],
       [17, 17],
       [17, 17],
       [17, 17],
       [17, 17],
       [17, 17],
       [17, 17],
       [17, 17],
       [17, 17],
       [17, 17],
       [17, 17],
       [17, 17],
       [17, 17],
       [17, 17],
       [17, 17]])

### N5

In [10]:
tarea = np.array([[2,2,2,2,2],[2,0,0,0,2],[2,0,16,0,2],[2,0,0,0,2],[2,2,2,2,2]])
tarea

array([[ 2,  2,  2,  2,  2],
       [ 2,  0,  0,  0,  2],
       [ 2,  0, 16,  0,  2],
       [ 2,  0,  0,  0,  2],
       [ 2,  2,  2,  2,  2]])

In [11]:
dos=np.full((5,5),2)
dos[1:4,1:4]=0
dos[2,2]=16
dos

array([[ 2,  2,  2,  2,  2],
       [ 2,  0,  0,  0,  2],
       [ 2,  0, 16,  0,  2],
       [ 2,  0,  0,  0,  2],
       [ 2,  2,  2,  2,  2]])

# Task Joseph

### N1

In [7]:
import numpy as np

In [2]:
A = np.array([[6,0,0,0],[6,6,0,0], [6,6,6,0],[6,6,6,6]])
A

array([[6, 0, 0, 0],
       [6, 6, 0, 0],
       [6, 6, 6, 0],
       [6, 6, 6, 6]])

In [55]:
#comando para crear matrices triangulares: tri(dimensiones, None,diagonales con cero, tipo de dato)
N1= np.tri(4,None,0,dtype= "int")
N1*6

array([[6, 0, 0, 0],
       [6, 6, 0, 0],
       [6, 6, 6, 0],
       [6, 6, 6, 6]])

### N2

Crear un array de 4x4 con valores pares

In [3]:
N2=np.arange(2,34,2)
X=N2.reshape((4,4))
X

array([[ 2,  4,  6,  8],
       [10, 12, 14, 16],
       [18, 20, 22, 24],
       [26, 28, 30, 32]])

### N3

Crear un array de 4x3 con valores impares

In [6]:
N3=np.arange(1,24,2)
Y=N3.reshape((4,3))
Y

array([[ 1,  3,  5],
       [ 7,  9, 11],
       [13, 15, 17],
       [19, 21, 23]])

### N4

Crear un array que contenga 32 elementos y luego darle 4 posibles formas que puede tomar el array creado inicialmente

In [14]:
N4=np.arange(1,33,1)
X_1=N4.reshape(8,4)
X_2=N4.reshape(1,32)
X_3=N4.reshape(4,8)
X_4=N4.reshape(2,16)

In [10]:
X_1

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24],
       [25, 26, 27, 28],
       [29, 30, 31, 32]])

In [15]:
X_2

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]])

In [12]:
X_3

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30, 31, 32]])

In [13]:
X_4

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]])

### N5

In [16]:
tarea = np.array([[2,2,2,2,2],[2,0,0,0,2],[2,0,16,0,2],[2,0,0,0,2],[2,2,2,2,2]])
tarea

array([[ 2,  2,  2,  2,  2],
       [ 2,  0,  0,  0,  2],
       [ 2,  0, 16,  0,  2],
       [ 2,  0,  0,  0,  2],
       [ 2,  2,  2,  2,  2]])

In [24]:
#FIRST
N5=np.full((5,5),2)
N5[1:4,1:4]=0
N5[2,2]=16
N5

array([[ 2,  2,  2,  2,  2],
       [ 2,  0,  0,  0,  2],
       [ 2,  0, 16,  0,  2],
       [ 2,  0,  0,  0,  2],
       [ 2,  2,  2,  2,  2]])

### _______________________________________

## End_Task_Joseph