***OVERVIEW OF CLASS***

+ Learn computational modes of thinking.
+ master the art of computational problem solving.
+ make computers do what you want them to do.

## ***WHAT DOES A COMPUTER DO???***


 <div class="pull-left"><img src="imagenes/do_computer.png" width="300" /> </div></div>


+ **Performs calculations
        - A billion calculations per second!
        - Two operations in same time light travels 1 foot

+ **Remembers results
        - 100s of gigabytes of storage!
        - Typical machine could hold 1.5M books of standard size .

## ***SIMPLE CALCULATIONS ENOUGH? ***

Searching the  World Wide Web
+ 45B pages.
+ 1000 words/page.
+ 10 operations/word to find.
+ Need 5.2 days to find something using simple operations.

Playing chess
+ Average of 35 moves/setting.
+ Look ahead 6 moves.
+ 1.8B boards to check.
+ 100 operations/choice.
+ 30 minutes to decide each move.

Good algorithm design also needed to accomplish a task!

## ***ARE THERE LIMITS?***

 <div class="pull-left"><img src="imagenes/limitaciones.png" width="300" /> </div></div>

Despite its speed and size, a computer does have limitations
+ Some problems still too complex.
        * Accurate weather prediction at a local scale.
+ Some problems are fundamentally impossible to compute
        * the halting problem

## ***TYPES OF KNOWLEDGE***

computers know what you tell them.

Declarative knowledge is statements of fact.
+ There is a chest with 1000 dollars in the park of legends.

imperative knowledge is a recipe or “how-to” knowledge.
+ Enter the park of legends.
+ Enter the Sierra area. 
+ Enter the mine. 
+ Look for the first white chair.
+ Look under the chair and find it.

**¡THIS WAY SHOULD THINK A PROGRAMMER!**

***A NUMERICAL EXAMPLE***

square root of a number x is y such that y*y = x

Recipe for deducing square root of number x (e.g. 25)

+ 1) Start with a guess, g.
+ 2) If g*g is close enough to x, stop and say g is the answer.
+ 3) Otherwise make a new guess by averaging g and x/g.
+ 4) Using the new guess, repeat process until close enough.

<div class="pull-left"><center><img src="imagenes/raiz_cuadrada.png" alt="REPO" width="500" title = "REPO"/>

Double click **here** to view python code.

<!-- 

x=25
#1-Start with a guess 
g = 12
#2-Divide the number by the approximate number
xg = x/g
#3-Otherwise make a new guess by averaging g and x/g.
g=(g+xg)/2
#4-If the value has a larger error than expected, item 2 and 3 are repeated
while abs(x- (g*g)) > 0.00000000001:
	print(g)
	#Repeat previous steps
	xg=x/g
	g=(g+xg)/2
print("square root of a number x is ",g)
 -->

***WHAT IS A RECIPE ?***

+ Sequence of simple steps.
+ Flow of control process that specifies when each step is executed.
+ A means of determining when to stop.

# <center>  PYTHON</center>

## 1. PYTHON

It is an open source, general purpose programming language. Python objects consist of:
+ the types of elements within objects(int,float,string,bool,complex) 
+ the types of objects that contain other objects(lists, tuples, sets, dictionaries).

### 1.1 VARIABLES AND TYPES
### 1.1.1 Variables 
** Specific , difference between lowercase and uppercase<br>
** Call values through the name of the variables<br>
##### "Labels that refer to the data"
#### "Any variable in python is a reference to an  object"
#####  Each object has:

- An identifier 
- A data type (integer, decimal, complex, string, etc.)
- A value (the data itself).

####  function type( )
*You can check the type of a value with the function type().* 

#### function id( )
the id() function receives an object as an argument and returns another object that serves as the unique identifier for the first object

In [ ]:
# The number 5

id(555)  # This is the identifier of the integer object "5"

In [ ]:
a = 5
id(a)  # The identifier of the variable a is the same as that of the integer "5"

In [ ]:
type(555)

In [ ]:
id(50)

In [ ]:
# calculating BMI
h = 2

In [ ]:
h

In [ ]:
#The print () function allows you to display text on the screen.
print(h)

In [ ]:
# The identifier of the variable using the id () function
id(h)

In [ ]:
id(2)

In [ ]:
w = 75

In [ ]:
BMI = w / h**2

In [ ]:
print(BMI)

In [ ]:
# the identifier of the variable using the "id ()" function
id(BMI)

In [ ]:
#calculating speed
distance = 100
time = 2
speed = distance / time
print(speed)

In [ ]:
# the identifier of the variable using the "id ()" function
id(time)

In [ ]:
string = "python"
id(string)

In [ ]:
a=1000/2
b=500
print(id(a))
print(id(b))

### 1.2 PYTHON TYPES
#### There are 3 types of values ​​that a variable can take in python (NUMBERS, STRINGS AND BOOLEANS)
### 1.2.1 Numbers
#### INT (Integer Numbers)
can be written in format:
* Binary "0b is prepended to a sequence of digits in binary (0 and 1)"
* Octal "Prepending 0o to a sequence of octal digits (0 to 7)"
* Hexadecimal "prepend 0x to a sequence of hexadecimal digits (from 0 to 9 and from A to F)"

In [ ]:
#  In binary, octal or hexadecimal format
diez = 10 
diez_binario = 0b1010
diez_octal = 0o12
diez_hex = 0xa

print(diez)

print(diez_binario)

print(diez_octal)

print(diez_hex)

In [ ]:
#converting decimal to binary, octal and hexadecimal
n=10
print(bin(n))
print(oct(n))
print(hex(n))

#### FLOAT (*Real numbers*)
* "Floating point numbers do not represent certain decimal fractions exactly." (C ++ has twice the precision of python)
* "The Decimal type can represent these fractions exactly, up to a user-specified precision limit"

In [ ]:
# float
3/7

In [ ]:
#using Decimal module
import decimal
decimal.Decimal(3/7)

In [ ]:
# You can provide tuples that contain the sign, the mantissa as a tuple of decimal digits, and the exponent
# The sign bit is Boolean, so 0 means positive and 1 means negative.
# ((a, (x, y, z, q), -e)): a< 0 o 1> -->signo, (x,y,z,q)-->mantissa, -e--> exponent

decimal.Decimal((1, (3, 4, 7, 5), -2))

In [ ]:
#Tipo Context( " ontext encapsulates properties of decimal operations ") 
import decimal
decimal.getcontext().prec=100
resultado=decimal.Decimal(3) / decimal.Decimal(7)
print(resultado)
type(resultado)

### OPERATIONS WITH INTEGER AND FLOAT
<br />
<br />

<div class="pull-left"><center><img src="imagenes/operaciones.png" alt="REPO" width="500" title = "REPO"/>

In [ ]:
5 +5.0

In [ ]:
id(5)

In [ ]:
7%3

In [ ]:
#sum of two integer numbers.
X=23
Y=15
X+Y

In [ ]:
#sum of two float numbers. 
A=7.3
B=6.0
A+B

In [ ]:
#sum of one float number and one integer number.
A=20.8
b=10
A+b

In [ ]:
#divicion of two integer numbers. 
14/2

In [ ]:

#division of two float numbers.  (float)
5.4/2.0

In [ ]:
# division of one integer number and one float number.
35/2.0

In [ ]:
# integer division " //" the result is integer quotient

7//2

In [ ]:
# integer division " //" the result is integer quotient
4//2

In [ ]:
# modulo operation "%"( remainder  when 7 is divided by 2)
7%2

In [ ]:
# modulo operation"%"
30%120

In [ ]:
# A**b---- A es base , b es exponente.
2**3

In [ ]:
# A**b---- A es base , b es exponente.
5**8

In [ ]:
#  A**b---- A es base , b es exponente.
1**0

### COMPLEX (*Son los números COMPLEJOS*)
<div class="pull-left"><img src="imagenes/complejo.png" width="300" /> </div></div><BR>
* (a + bj)---> a Real part, b imaginary part <BR>
* (a,b)---> Ordered Pair.

In [ ]:
# Creating a complex number
c1 = 4 + 3j

In [ ]:
c1

In [ ]:
# Creating a complex number with complex
c2 = complex(2, -3)
c2

In [ ]:

# Conjugate of a complex number
c3 = 2 + 3j
c3.conjugate()

In [ ]:

# Absolute value or magnitude
c4 = 4 + 3j
abs(c4)

In [ ]:
# Real part, imaginary part
c5 = 2 - 3j

print(c5.real)
print(c5.imag)

<div class="pull-center"><center><img src="imagenes/exercise.jpg" alt="REPO" width="200" title = "REPO"/>

#### Show the identifier of the variable, data type and value using the The print () function :
        *a=5.0 
        *b=5 
        *c= 2.4 
        *d=1/3 
        *e=-2+3j 
        *f=3j 
        *g=10

1. A=a+b
2. B=c*g
3. C=d-b
4. D=a+b+c-g
5. E=conjugate(e)+real part(f)

In [4]:
a=5.0 # float

In [5]:
id(a)

2325253030416

In [6]:
type(a)

float

In [7]:
print(a)

5.0

In [12]:
b=5
id(b)
type(b)
print('el valor del objeto es',b)
print(type(b))
print(id(b))

el valor del objeto es 5
<class 'int'>
140720187123632

In [ ]:
id(b)

In [ ]:
type(b)

* Double click **here** to view python code.

<!-- 


a=5.0 
b=5 
c= 2.4 
d=1/3 
e=-2+3j 
f=3j 
g=10

A=a+b
B=c*g
C=d-b
D=a+b+c-g
E=e.conjugate()+e.real

print("the identifier A : ",id(A))
print("the identifier B : ",id(B))
print("the identifier C : ",id(C))
print("the identifier D : ",id(D))
print("the identifier E : ",id(E))
print()
print("type object A: ",type(A))
print("type object B: ",type(B))
print("type object C: ",type(C))
print("type object D: ",type(D))
print("type object E: ",type(E))
print()
print("value A: ",A)
print("value B: ",B)
print("value C: ",C)
print("value D: ",D)
print("value E: ",E)

-->

### 1.2.2 STRING 
* "String is the way python represents text; you can use single (' ') or double (" ") quotes to construct a string."

In [ ]:
msn_1="hola a todos"
msn_1

In [ ]:
msn_2='Pedro'
print(msn_2)

+ Square brackets can be used to access elements of the string. Example: cad="hola" then cad [1]-->'a'
+ indices in a string start at zero.

<div class="pull-left"><center><img src="imagenes/string.png" alt="REPO" width="200" title = "REPO"/>

In [13]:
# Get the character with index 1
cadena="Estoy feliz"
cadena[1]

's'

In [15]:
#Get the character with index 5
cadena1="Estoy feliz"
cadena1[-5]

'f'

#### To get the length of a string, use the len () function. Example: if string = '14 February ' then len (ch) -> 11

In [16]:
#find the length of the string "Aprendiendo python".
cad="Aprendiendo python"
len(cad)

18

** Determine the number of characters in a string using the len () function, consider message= 'hola' + ' ' + 'mundo' **

Double click **here** to view python code.

<!-- 

cad='hola' + ' ' + 'mundo'
len(cad)

 -->

### slicing  (If you want parts of a string ). 
Specify the starting index and ending index (not including), separated by a colon, enclosed in square brackets.:  cad="Alexander" then cad[2:5]-->'exa'

In [17]:
# if b = "Hello, World!", b[2:5]=?
b = "Hello, World!"
b[2:5]

'llo'

In [18]:
#By skipping the trailing index, the range will reach the end
b = "Hello, World!" 
print(b[2:])

llo, World!

In [ ]:
#Use negative indices to start the segment from the end of the string:
b = "Hello, World!"
print(b[-5:-2])

+ To concatenate or combine two strings, you can use the operator +.<br>Example: si cad1="soy" y cad2="feliz" then cad1 + cad2-->'soyfeliz'.

In [ ]:
#concatenate the variable a and b into a variable c
a = "Hello"
b = "World"
a+b

In [ ]:
#To add a space between them, add  " ":
a = "Hello"
b = "World"
a+" "+b

In [19]:
# Multiply (copy several times a chain using the operator (*))
y = "cadena"
y*3

'cadenacadenacadena'

+ We cannot combine strings and numbers. The format () method takes the arguments that were declared and places them in the string where the {} placeholders are. Example years = 36, exit = "My name is Cesar, and I have {}" then print (exit.format (years)) -> My name is Cesar, and I have 36.

In [20]:
#We can't combine strings and numbers
años = 36
salida = "Mi nombre es Cesar, y tengo {}" 
años+salida

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
#using format method combine strings and numbers
años = 36
salida = "Mi nombre es Cesar, y tengo {}" 

print(salida.format(años))
print('Mi nombre es Cesar, y tengo',años)
print(salida,años)

Mi nombre es Cesar, y tengo 36
Mi nombre es Cesar, y tengo 36
Mi nombre es Cesar, y tengo {} 36

In [ ]:
# using format method combine strings and numbers
tengo=1200
texto="tengo {}"
texto1="mi ganancia es {}"
ganancia=500

print(texto.format(tengo))
print(texto1.format(ganancia))

### String Methods
* Python has a set of built-in methods that can be used on strings.
+ All string methods return new values. Doesn't change the original string.<br>

URL: <https://www.w3schools.com/python/python_ref_string.asp>

In [ ]:
# Method find(): searches for a substring in a character string and will indicate the starting index of the string being searched
mensaje = "Hola Mundo"
mensaje_buscar = mensaje.find("un")
print(mensaje_buscar)

In [ ]:
#Method replace: change a substring of a string.
mensaje = "HOLA MUNDO"
mensaje_r = mensaje.replace("UNDO", "anuel")
print(mensaje_r)
print(mensaje)

In [ ]:
# Method: "Lower()" , "Upper"
mensaje = "MUERTE a Manuel"
print(mensaje.lower())
print(mensaje.upper())

### 1.2.3 BOOL :
*The boolean is a type of variable that can be (True) o (False).*

In [ ]:
a = 5
b = 7
a<b

In [ ]:
mensaje='Muerte a Manuel'
'manuel'in mensaje

In [ ]:
## logical operations

True and True

In [ ]:
## logical operations

False or False

In [ ]:
## == equal ; != different
2 == 1 + 1

In [ ]:
## == equal; != different
6 / 2 != 3

## Input _ Output
 we can use the input() to accept input from a user and print() to display output on the console

In [23]:
# By default python considers the data entered through the input () function as a string
nombre=input("ingrese su nombre --> ")
print("\n hola",nombre)

ingrese su nombre --> Joel

 hola Joel

In [ ]:
# integer and real data
numero=int(input("ingrese un numero --> "))
print("\n el número es ",numero)

In [ ]:
# integer and real data
numero=float(input("ingrese un numero --> "))
print("\n el numero es ",numero)

In [ ]:
NOMBRE="LUCAS"
EDAD="34"
print("Hola",NOMBRE,"tienes",EDAD,"años")

print("Hola {} tienes {} años".format(NOMBRE,EDAD))

print(f"hola {NOMBRE} tienes {EDAD} años")

In [ ]:
nombre1=input("ingrese su nombre --> ")
edad=input("ingrese su edad --> ")
print(f"hola {nombre1} tienes {edad} años")

In [ ]:
nombre1=input("ingrese su nombre --> ")
edad=int(input("ingrese su edad --> "))
print(f"hola {nombre1} tienes {edad+5} años")

In [ ]:
dni=input('ingrese dni')
nombre =input('ingrese nombre')
print(f"hola mi nombre es {nombre} con DNI {dni} ")
type(dni)

## 2. COLLECTIONS
+ LISTS (mutable)
+ TUPLAS (immutable)
+ DICTIONARIES (mutable)
+ SETS (mutable)

### 2.1 LISTS
A Python list is created by enclosing values separated by commas and enclosed in square brackets [  ].

In [24]:
# We created the list of the number of inhabitants in millions of South American countries.
country = [30,20,50,100] 
print(country)

[30, 20, 50, 100]

In [25]:
type(country)

['Perú', 30, 'Chile', 20, 'Argentina', 50, 'Brasil', 100]

In [ ]:
# A list can contain numbers, strings, booleans, ... and also lists
pais_1 = ["Perú",30,"Chile",20,"Argentina",50,"Brasil",100]
print(pais_1)

In [26]:
# A list can contain numbers, strings, booleans, ... and also lists
pais_2 = ["Perú",30,"Chile",20,["Argentina",50],["Brasil",100]]
print(pais_2)

['Perú', 30, 'Chile', 20, ['Argentina', 50], ['Brasil', 100]]

### Subsetting lists 
##### Each element of a list is determined by an index

In [ ]:
#creating a list
pais_1 = ["Perú",30,"Chile",20,"Argentina",50,"Brasil",100]
print(pais_1)

In [36]:
#Access an item from a list included within another  list
pais_3 = ["Perú",30,"Chile",20,["Argentina",50],["Brasil",100]]

print(pais_3[4][0](cadena1[2]))

TypeError: 'str' object is not callable

In [ ]:
#Access an item in a list
pais_3 = ["Perú",30,"Chile",20,["Argentina",50],["Brasil",100]]
print(pais_3[5])

In [ ]:
#Access an item from a list included within another  list
pais_3 = ["Perú",30,"Chile",20,["Argentina",50],["Brasil",100]]

print(pais_3[5][1])

In [ ]:
pais_3[4][1]

In [ ]:
pais_3 = ["Perú",30,"Chile",20,["Argentina",50],["Brasil",100]]
pais_3[5]

In [ ]:
#negative index: count from the end
pais_3 = ["Perú",30,"Chile",20,["Argentina",50],["Brasil",100]]
pais_3[-1]

In [ ]:
#the indexes of a list start from zero.
pais_3 = ["Perú",30,"Chile",20,["Argentina",50],["Brasil",100]]
x=pais_3[4][0]
x[0]

### List Slicing 
* Allows you to select multiple items from a list, thus creating a new list.* <br>
* (start: end) Python will interpret that we want a list that goes from the start position to the end position, not including the latter.<br>
* If we write three numbers (start: end: jump) instead of two, the third is used to determine "every few positions to add an element to the list.<br>
(includes: does not include)

In [ ]:
#creating a list
pais_1 = ["Perú",30,"Chile",20,"Argentina",50,"Brasil",100]
print(pais_1)

In [ ]:
pais_1[3:5]     # selecting index items 3 and 4.
                # pais_1[3:5]  index 5 is the limit.
                # [stard:End]
                # [includes: does not include]

In [ ]:
#¿Que elementos de la lista estamos seleccionando?
pais_1 = ["Perú",30,"Chile",20,"Argentina",50,"Brasil",100]
pais_1[1:6]

In [ ]:
# si no se considera el primer elemento se considera por defecto el indice cero
pais_1 = ["Perú",30,"Chile",20,"Argentina",50,"Brasil",100]
pais_1[:7]

In [ ]:
# el negativo indica los indices a no conciderar a partir del último
pais_1 = ["Perú",30,"Chile",20,"Argentina",50,"Brasil",100]
pais_1[:-2]

In [ ]:
#considera solo los dos ultimos indices
pais_1 = ["Perú",30,"Chile",20,"Argentina",50,"Brasil",100]
pais_1[-2:]

In [ ]:
#¿Que elementos de la lista estamos seleccionando?
pais_1 = ["Perú",30,"Chile",20,"Argentina",50,"Brasil",100]
pais_1[4:]

In [ ]:
#¿Que elementos de la lista estamos seleccionando?
pais_1 = ["Perú",30,"Chile",20,"Argentina",50,"Brasil",100]
pais_1[3:]

### List Manipulation
*Ways to change items in a list, add items, and remove items from a list.*

In [ ]:
#creating a list
pais_1 = ["Perú",30,"Chile",20,"Argentina",50,"Brasil",100]
print(pais_1)

In [ ]:
#modificar un objeto de la lista
pais_1[0]="Alemania"
print(pais_1)

In [ ]:
#modificar el tamaño de la lista y los elementos
l= [99, True, "una lista", [1, 2]]
l[0:3] = [0, 1]
l

### Python List  Methods
Python has a set of built-in methods that you can use on lists<br>
URL: <https://www.w3schools.com/python/python_ref_list.asp>

In [ ]:
#Method append: It is a method that allows adding an element (or another list) to a list*
#we add an object to the venezuela list
pais_1=['Perú', 33, 'Chile', 20, 'Argentina', 50, 'Brasil', 100]
pais_1.append("Venezuela")
print(pais_1)

In [ ]:
#we add an object to the list
pais_1=['Perú', 33, 'Chile', 20, 'Argentina', 50, 'Brasil', 100]
pais_1.append(["Venezuela",60])
print(pais_1)

In [ ]:
#Method insert: It is a method that allows adding an element in a certain position in a list (x, y) 
#where "x" is the position and "y" is the element to add.
# We add Venezuela in the position of index 8.
pais_1=['Perú', 33, 'Chile', 20, 'Argentina', 50, 'Brasil', 100]
pais_1.insert(8,"Venezuela")
print(pais_1)

In [ ]:
# We add Venezuela in the position of index 9.
pais_2=['Perú', 33, 'Chile', 20, 'Argentina', 50, 'Brasil', 100,"Venezuela"]
pais_2.insert(9,60)
print(pais_2)

In [ ]:
#Method Del:The Del method removes the object from the indicated index
pais_3 = [10, 20, 30, 40, 50]
del(pais_3[3])
print(pais_3)

In [ ]:
pais_3 = [10, 20, 30, 40, 50]
del(pais_3[2])
print(pais_3)

### 2.1 TUPLE
A Python tuple is created by enclosing comma-separated values ​​in parentheses ().

In [ ]:
#defining tuple
tupla = ()
print(tupla)

In [ ]:
tupla1=1,2,3
print(tupla1)
type(tupla1)

In [ ]:
tupla = (5,"hola",6.45,[1,2,3],26)
tupla

In [ ]:
 # With the .index () method we can indicate the position of the element in the tuple
tupla = (5,"hola",6.45,[1,2,3],26)
print(tupla.index(26))

In [ ]:
#What elements of the tuple are we selecting?
tupla = (5,"hola",6.45,[1,2,3],26)
tupla[2]

In [ ]:
print(tupla.index("hola"))

In [ ]:
 # Convert a tuple to a list

tupla = (5,"hola",6.45,[1,2,3],26)
lista = list(tupla)       
print(lista)

In [ ]:
# Convert a list to a tuple
tupla = tuple(lista)
print(tupla)

### 2.3 DICTIONARY
Dictionaries are used to store data values in " key:value" pairs.<BR>
Dictionaries are written with curly brackets, and have keys and values

In [2]:
# KEY => country name
# VALUE => population of the country

paises = {"Colombia":45, "Chile":22, "Argentina":50, "Brasil":100, "Perú":30 }                                                                                
print(paises)

{'Colombia': 45, 'Chile': 22, 'Argentina': 50, 'Brasil': 100, 'Perú': 30}

In [3]:
#The key opens the door to value

paises["Colombia"]

45

In [5]:
#The key opens the door to value

paises["Perú"]

30

In [6]:
# we add elements to the dictionary
paises = {"Colombia":45, "Chile":22, "Argentina":50, "Brasil":100, "Perú":30 }    

paises["Paraguay"] = 7                    
print(paises)

{'Colombia': 45, 'Chile': 22, 'Argentina': 50, 'Brasil': 100, 'Perú': 30, 'Paraguay': 7}

In [7]:
#change the values of our keys 
paises = {"Colombia":45, "Chile":22, "Argentina":50, "Brasil":100, "Perú":30 } # poblacion en millones
paises["Perú"] = 33
print(paises)

{'Colombia': 45, 'Chile': 22, 'Argentina': 50, 'Brasil': 100, 'Perú': 33}

In [8]:
paises = {"Colombia":45, "Chile":22, "Argentina":50, "Brasil":100, "Perú":30 } 
paises["Brasil"] = 110 
print(paises)

{'Colombia': 45, 'Chile': 22, 'Argentina': 50, 'Brasil': 110, 'Perú': 30}

In [9]:
 # It will give us as a result True if the key is in countries
"Paraguay" in paises

False

In [10]:
# It will give us as a result False if the key is in countries
"Ecuador" in paises

False

### Python Dictionary Methods
Python has a set of built-in methods that you can use on dictionaries.<br>
URL: <https://www.w3schools.com/python/python_ref_dictionary.asp>

In [11]:
 # we remove the key with the del () method; and removing the key also removes its value
    
paises = {"Colombia":45, "Chile":22, "Argentina":50, "Brasil":100, "Perú":30 }
print(id(paises))
del(paises["Colombia"])                

print(id(paises))
paises

4389290752
4389290752

{'Chile': 22, 'Argentina': 50, 'Brasil': 100, 'Perú': 30}

In [12]:
# with the .keys () method it shows us only the keys of the countries dictionary 
paises = {"Colombia":45, "Chile":22, "Argentina":50, "Brasil":100, "Perú":30 } 
print(paises.keys())

dict_keys(['Colombia', 'Chile', 'Argentina', 'Brasil', 'Perú'])

In [13]:
# with the .values ​​() method it shows us only the values ​​of the countries dictionary
paises = {"Colombia":45, "Chile":22, "Argentina":50, "Brasil":100, "Perú":30 } 
print(paises.values())

dict_values([45, 22, 50, 100, 30])

In [14]:
 # with the itmes () method it shows us the elements inside tuples
paises = {"Colombia":45, "Chile":22, "Argentina":50, "Brasil":100, "Perú":30 } 
print(paises.items())

dict_items([('Colombia', 45), ('Chile', 22), ('Argentina', 50), ('Brasil', 100), ('Perú', 30)])

In [15]:
#CREATE DICIONARIOS WITH TWO LISTS

Name = ['JUAN', 'LUIS', 'ANA']
Years = [17, 14, 22]
dic = dict(zip( Name,Years))
print(dic)
print(type(dic))

{'JUAN': 17, 'LUIS': 14, 'ANA': 22}
<class 'dict'>


### OVERVIEW OF COLLECTIONS<br>
<div class="pull-CENTER"><center><img src="imagenes/res.png" alt="REPO" width="800" title = "REPO"/>

#### *List

In [17]:
#defining list
list=[4, 'luis', True,12.5]
list

[4, 'luis', True, 12.5]

In [18]:
#Access an item in a list
list[1]

'luis'

In [19]:
#we change an item
list[0]=40
list

[40, 'luis', True, 12.5]

In [20]:
#we add an element
list.append('g')
list

[40, 'luis', True, 12.5, 'g']

In [21]:
#we delete an item
list.pop(4)

'g'

In [22]:
list

[40, 'luis', True, 12.5]

#### *Tuples

In [ ]:
#defining tuple
tuple=(4, 'luis', True,12.5)
tuple

In [ ]:
#Access an item in a tuple
tuple[2]

In [ ]:
#we change an item?? danger!!!.....
tuple[2]=False

In [ ]:
#we add an elemen
tuple.append(3)

#### *Dictionary

In [ ]:
#defining dictionary
dict={'int':4,'str':'luis', 'bool':True,'float':12.5}
dict

In [ ]:
#Access an item in a dictionary
dict['int']

In [ ]:
#we change an item
dict['int']=40
dict

In [ ]:
#we add an elemen
dict['complex']=2+3j
dict

In [ ]:
#we delete an item
dict.pop('complex')

In [ ]:
dict

### 2.4 SET
Sets are used to store multiple items in a single variable.<BR>
A set is a collection which is both unordered and unindexed.

In [ ]:
# We define a set with {}
conjunto = {}
print(conjunto)

In [ ]:
#We define the set using Set
set = {1}
print(set)

In [ ]:
# Define set from a list
lista = ['vino', 'cerveza', 'agua', 'vino'] 
bebidas = set(lista)  
bebidas

In [ ]:
# validate if an element belongs to an "in" set
set_1={1, 2, 3, 4.56, 5, 'hola'}
1 not in set_1

In [ ]:
set_1={1, 2, 3, 4.56, 5, 'hola'}
print(16 in set_1)

In [ ]:
set_2={1, 2, 3, 4.56, 5, 'hola',True}
print(len(set_2))

In [ ]:
# Union of sets
a={1,2,3,4,5}
b={3,4,5,9,10}
c = a | b
print(c)

In [ ]:
# second form union of sets
fam_1= {'Doe, John', 'Doe, John', 'Smith, Jane', 'Brown, Bob'}
fam_1.union({'Brown, Bob', 'Smith, Jane', 'Jones, William'})

In [ ]:
# intersection of sets
a={1,2,3,4,5}
b={3,4,5,9,10}
c = a & b
print(c)

In [ ]:
# second way to deduce the intersection of sets
fam_1= {'Doe, John', 'Doe, John', 'Smith, Jane', 'Brown, Bob'}
fam_1.intersection({'Brown, Bob', 'Smith, Jane', 'Jones, William'})

In [ ]:
# set difference
a={1,2,3,4,5}
b={3,4,5,9,10}
c = a - b
print(c)

In [ ]:
# symmetric difference of sets
a={1,2,3,4,5}
b={3,4,5,9,10}
c = a ^ b 
print(c)

<img src="imagenes/gracias.png" alt="REPO" width="500" title = "REPO"/>